@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    gap: 16px;
    background-color: rgb(57, 58, 58);
    padding: 5px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #f5efef;
    width: 180px;
    height: 310px;
    border-radius: 15px;
    box-shadow: 4px 4px 12px #473b3b;
    flex-direction: column;
    padding: 10px;  

}

.title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.card h1 {
    font-size: 1.2rem;
}

.card p {
    font-size: .9rem;
    color: #053a13aa;
}

.card button {
    background-color: #1d06eeaa;
    height: 35px;
    border: none;
    padding: 4px;
    width: 80%;
    border-radius: 5px;
    font-weight: bold;
    color: #f5efef;
    cursor: pointer;
    transition: background-color 0.3s;
         
}

.card button:hover {
    background-color: #1304aacc;
}

.card img {
    width: 100%;
    border-radius: 15px;
}